html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;;
  font-size: 16px;
  color: rgb(97, 97, 97);
}

.form-control, .CodeMirror {
  font-size: 20px;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 2px;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
}

.CodeMirror {
  font-family: Consolas, 'Courier New', monospace;
}

.code {
  font-family: Consolas, 'Courier New', monospace;
}

.form-control:focus, .CodeMirror-focused {
  border-width: 3px 3px 3px 3px;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


.row {
  padding-bottom: 20px;
}

pre {
  border: unset;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 16px;
  border-radius: 2px;  
}

code {
  font-family: Consolas, 'Courier New', monospace;
  color: unset;
}

.page-header {
  border: none;
}

.btn-primary {
  text-transform: lowercase;
  border-radius: 2px;  
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary:focus:active, .btn-primary[disabled]:hover,
.btn-primary[disabled]:active, .btn-primary[disabled]:focus {
  border-width: 3px 3px 3px 3px;  
}

.alert {
  border-width: 3px 3px 3px 3px;
  border-radius: 2px;
}

.scrollable-select {
  height: 350px;
  overflow: auto;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 2px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1 {
  font-size: 31px;
}

.scrollable-select > * {
  padding: 5px;
  cursor: pointer;
}

.scrollable-select li {
  border-bottom: 1px solid #000;
  padding: 20px;
}

.scrollable-select > .highlighted:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
}

.btn {
  border-width: 3px 3px 3px 3px;  
}


label {
  font-weight: 700;
  color: rgb(97, 97, 97);
  background-color: rgba(128, 128, 128, 0.2);
  display: block;
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 15px;
}


.header {
  margin-bottom: 10px;
  overflow: hidden;
  padding-left: 15px;
  background-color: rgba(128, 128, 128, 0.2);
}

.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
  margin-right: 5px;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}


.solarized.light {
  background-color: #fdf6e3;
}

.solarized.light .form-control, .solarized.light .CodeMirror {
  color: rgb(97, 97, 97);
  border: none;
  outline: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.solarized.light .CodeMirror-gutters {
  background-color: unset;
}

.solarized.light  .form-control:focus, .solarized.light .CodeMirror-focused {
  border-color: #eae4d2;
}

.solarized.light pre {
  background-color: #eee8d5;  
}
.solarized.light .CodeMirror pre {
  background-color: unset;  
}

.solarized.light .btn-primary {
  color: white;
  background-color: rgb(181, 137, 0);
  border: none;
  border-radius: 0;
  padding: 10px 14px;
  margin-right: 20px;
}

.solarized.light .btn-primary:hover, .solarized.light .btn-primary:active, .solarized.light .btn-primary:focus,
.solarized.light .btn-primary:focus:active, .solarized.light .btn-primary[disabled]:hover,
.solarized.light .btn-primary[disabled]:active, .solarized.light .btn-primary[disabled]:focus {
  background-color: #f7f0df;
  border-color: #eee8d5;
  color: #839496;
}

.solarized.light .alert {
  background-color: #fdf6e3;
  border-color: #eee8d5;
  color: #839496;
}

.solarized.light .alert-danger {
  background-color: #fdf6e3;
  border-color: #cb4b16;
  color: #839496;
}

.solarized.light .scrollable-select {
  color: rgb(97, 97, 97);
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.solarized.light .scrollable-select .active {
  background-color: rgba(0, 0, 0, 0.05);
}

.solarized.light .form-control[readonly] {
  background-color: rgba(0, 0, 0, 0.05);
}

.solarized.light .alert-success hr {
  border-top-color: #eee8d5;
}

.solarized.light h1 {
  color: rgb(97, 97, 97);
}

.solarized.light .scrollable-select > li:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.solarized.light .scrollable-select > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.darcula .scrollable-select .active {
  background-color: rgb(68, 68, 68);
  color: rgba(255, 255, 255, 0.904);
}

.darcula  .scrollable-select > .highlighted {
  border: 2px solid #008966;
}

.darcula select, .darcula input, .darcula textarea, .darcula textarea[readonly] {
  background-color: rgb(68, 68, 68);
  color: #a9b7c6;
}

.form-control {
  height: unset;
}

@media (max-width: 600px) {
  .form-control, .CodeMirror {
    font-size: 16px;
  }  
}